body {
    font-family: arial;
    background-color:black;
    z-index:2;
    font-size:1.2vw;
}

body{
    background-image:url('http://i307.photobucket.com/albums/nn288/el-ementrix/handpainted_wall2.jpg');
    background-blend-mode:  opacity:0.6;
    z-index:1;
}

/* Style the logo */
div.logo {
    color: rgba(255,255,255,0.6);
    font-size:40px;
    margin-left:10px;
    height:40px;
    margin-top:-20px;
    margin-bottom:10px;
    text-transform:uppercase;
    font-weight:bolder;
    text-shadow:4px 4px rgba(0,0,0,0.4);
}

/* Style the tab */

div.tab {
    overflow: hidden;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 1px 38px;
    transition: 0.3s;
    font-size: 15px;
    color: rgba(255,255,255,0.6);
    background-color:black;
    font-size:120%;
    margin-left:5px;
    transition:.1s;
    width:200px;
    height:44px;
    font-weight:normal;
    text-transform:uppercase;
    border-radius:15px;
    border:none;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: red;
    border:7px solid black;
    transition:.1s;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: red;
    border:7px solid black;
    transition:.1s;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.search
{
width: 400px;
height: 34px;
    margin-left:10px;
    font-size:120%;
    background:black;
    color:rgba(255,255,255,0.8);
    padding:6px;
    border-radius:15px;
    border:none;
    text-align:center;
    text-transform:uppercase;
}

/* holds x2 product tiles per container */
#contain {
    width:100vw;
    display:flex;
    margin-top:20px;
    display:1px solid red;
}

/* product listing */
#contain .product {
    padding-bottom:0px;
    display:inline;
    width:46vw;
    padding-right:10vw;
}

/* product "tile" image */

#contain .product img {
    flex-grow:1;
    width:25vw;
    height:12vw;
    filter:saturate(60%) brightness(90%);
    transition:1s;
    transition-property:filter;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;
}

/* on-hover image effects */

#contain .product img:hover{
    filter:none;
    transition-property:filter;
    transition-duration:1s;
}

#contain .product .description {
    color:rgba(255,255,255,0.6);
    font-weight:lighter;
    flex-grow:1;
    width:21vw;
    height:11vw;
    padding:1vw;
    padding-top:0px;
    padding-bottom:1vw;
    padding-right:1vw;
    background:rgba(0,0,0,1);
    position:fixed;
    overflow-y:scroll;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
}
